form > * {
	width: 100%;
	box-sizing: border-box;
}

table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

input[type=range], input[type=range] + a {
	float: left;
	display: block;
}

.conditions {
	position: relative;
}

	.conditions > * {
		display: none;
	}

		.conditions > *:first-child {
			display: block;
		}
