form > * {
	width: 100%;
	box-sizing: border-box;
}

table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

input[type=range], input[type=range] + a {
	display: inline-block;
	float: left;
}
